*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


header {
    background-color: #ffffff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    
}


nav ul {
    
    list-style-type: none;
    display: flex;
    justify-content: space-around;
   
    
}

a{

    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 7px 15px;
    
}

a:hover{
    padding: auto;
    background-color: #ffc05354;
    color: rgba(60, 59, 59, 0.434);
    border-radius: 10px;

}


.logo img {
    padding: 10px; ;
    max-width: 100%;
    height: auto;
    
}


.hero {
    background-image: linear-gradient(rgba(63, 63, 63, 0.466), rgba(75, 74, 74, 0.338)), url("https://i.pinimg.com/564x/cf/1e/f9/cf1ef98581dc81d0726c39020888bbc5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    
}
.hero h1 {
    padding: 50px;
    font-size: 40px;
}
.hero p {
    padding: 30px;
    font-size: 20px;
}


.hero button {
    background-color: #333;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero button:hover {
    background-color: #555;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product1 {
    background-color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
    .products {
        flex-direction: column;
    }

    .product1 {
        width: 100%;
    }
}


.product1:hover {
    transform: scale(1.05);
}
.product1 img{
    width:40%;
}
.product1 h1{
    font-size: 30px;
    padding: 10px;
}
.product1 p{
    font-family: Georgia, serif;
    padding: 10px;

}
.product1 button{
    
        border: none;
        border-radius: 5px;
        background-color: #FFBD59;
        padding: 10px 25px;
        cursor: pointer;
        color: white;
}

.reviews-sec p{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #333;
    background-color: #ffffff;
    margin: 20px;
    padding: 10px;
    border:none;
    
}

.review {
    background-color: #ffffff;
    margin: 20px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.username {
    font-family: Arial, sans-serif;
    font-weight: bold;
    
}
.note{
    font-family: Arial, sans-serif;
    padding: 5px;
}

.newsletter-form {
    background-color: #fff;
    margin: 20px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.newsletter-form h2{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}
.newsletter-form p{
    margin: 20px;
    padding: 10px;
}

.email-input {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.subscribe-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.footer {
    position: relative;
    width: 100%;
    background: #ffffff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu__item {
    list-style: none;
  }
 
  
  .menu__link {
    font-size: 1.2rem;
    color: #010101;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #161616;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  i{
     font-size: 2rem;
    color: #040404;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;


  } 
  i:hover {
    transform: translateY(-10px);
  }
 

  